body {
background-color: tan}
h1 {
text-align: center;
background-color: white;
margin: 80px;
border-color: #b5651d;
border-weight: 10px;
color: #5b3f2f;

}
.submit {
background-color:#5b3f2f;
 color: #b5651d
 }
